@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

/*.fi-simple-layout {*/
/*    background-color: #5b21b6;*/
/*}*/

/*.fi-simple-main {*/
/*    background-color: #5b21b6;*/
/*}*/

/*.fi-color-primary {
    background-color: darkred;
}*/
.fi-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* --------------------------------------------
 | FilePond – hide filename & size text
 |---------------------------------------------
 */

/* Hide filename text */
.filepond--file-info-main {
    display: none !important;
}

/* Hide file size text */
.filepond--file-info-sub {
    display: none !important;
}

/* Optional: hide the entire info bar */
.filepond--file-info {
    display: none !important;
}
